In [1]:
import pandas as pd
import numpy as np
import re
import torch
import torch.nn as nn
from torch.optim import Adam
from torch.utils.data import TensorDataset, DataLoader
from pytorch_pretrained_bert import BertModel, BertTokenizer
from keras.preprocessing.sequence import pad_sequences

Using TensorFlow backend.

# Load and format data

In [9]:
# Load data 
data = pd.read_csv(r'Data\News_DJIA.csv')

# combine titles 
title_cols = list(data.columns[2:22]) # using Top 20 titles
data['News'] = data[title_cols].agg(' '.join, axis = 1)

# remove, quotes and b, from news title cols 
def clean_titles(titles):
    titles = re.sub('b[(\')]','',titles)
    titles = re.sub('b[(\")]','',titles)
    titles = re.sub("\'",'',titles)
    return titles

data['News'] = data.apply(lambda x: clean_titles(x['News']), axis = 1)

# drop used cols
data = data.drop(data.columns[2:27], axis = 1)

            Date  Label                                               News
0     2008-08-08      0  Georgia downs two Russian warplanes as countri...
1     2008-08-11      1  Why wont America and Nato help us? If they won...
2     2008-08-12      0  Remember that adorable 9-year-old who sang at ...
3     2008-08-13      0   U.S. refuses Israel weapons to attack Iran: r...
4     2008-08-14      1  All the experts admit that we should legalise ...
...          ...    ...                                                ...
1984  2016-06-27      0  Barclays and RBS shares suspended from trading...
1985  2016-06-28      1  2,500 Scientists To Australia: If You Want To ...
1986  2016-06-29      1  Explosion At Airport In Istanbul Yemeni former...
1987  2016-06-30      1  Jamaica proposes marijuana dispensers for tour...
1988  2016-07-01      1  A 117-year-old woman in Mexico City finally re...

[1989 rows x 3 columns]