In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
# Load data 
news = pd.read_csv(os.path.join('Data','News_DJIA.csv'))
price = pd.read_csv(os.path.join('Data','Value_DJIA.csv'))

In [3]:
# recompute labels 
# from: https://www.kaggle.com/aaron7sun/stocknews
# "1" when DJIA Adj Close value rose or stayed as the same;
# "0" when DJIA Adj Close value decreased.

price['Adj Close Tmrw'] = price['Adj Close'].shift(-1)
price['Label-test'] = price.apply(lambda x: 1 if (x['Adj Close Tmrw']>= x['Adj Close']) else 0, axis =1)

price[['Date','Adj Close Tmrw','Adj Close','Label-test']].head(5)

         Date  Adj Close Tmrw     Adj Close  Label-test
0  2008-01-02    13056.719727  13043.959961           1
1  2008-01-03    12800.179688  13056.719727           0
2  2008-01-04    12827.490234  12800.179688           1
3  2008-01-07    12589.070313  12827.490234           0
4  2008-01-08    12735.309570  12589.070313           1

In [4]:
# merge price to news
data = news.merge(price, on='Date')
data[['Date','Open','Close','Adj Close','Adj Close Tmrw','Label','Label-test']].head(15)

,Date,Open,Close,Adj Close,Adj Close Tmrw,Label,Label-test
0,2008-08-08,11432.089844,11734.320313,11734.320313,11782.349609,0,1
1,2008-08-11,11729.669922,11782.349609,11782.349609,11642.469727,1,0
2,2008-08-12,11781.700195,11642.469727,11642.469727,11532.959961,0,0
3,2008-08-13,11632.809570,11532.959961,11532.959961,11615.929688,0,1
4,2008-08-14,11532.070313,11615.929688,11615.929688,11659.900391,1,1
5,2008-08-15,11611.209961,11659.900391,11659.900391,11479.389648,1,0
6,2008-08-18,11659.650391,11479.389648,11479.389648,11348.549805,0,0
7,2008-08-19,11478.089844,11348.549805,11348.549805,11417.429688,0,1
8,2008-08-20,11345.940430,11417.429688,11417.429688,11430.209961,1,1
9,2008-08-21,11415.230469,11430.209961,11430.209961,11628.059570,1,1
10,2008-08-22,11426.790039,11628.059570,11628.059570,11386.250000,1,0
11,2008-08-25,11626.190430,11386.250000,11386.250000,11412.870117,0,1
12,2008-08-26,11383.559570,11412.870117,11412.870117,11502.509766,1,1
13,2008-08-27,11412.459961,11502.509766,11502.509766,11715.179688,1,1
14,2008-08-28,11499.870117,11715.179688,11715.179688,11543.959961,1,0

In [5]:
# we see that the news dataset has misleading dates and results in a row containing the stocks values from the given date but the label from the pervious date.